@model IEnumerable<ControlesEnsalamento.Models.Professores>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matriculaProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusProfessor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matriculaProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomeProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusProfessor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.matriculaProfessor }) |
            @Html.ActionLink("Details", "Details", new { id=item.matriculaProfessor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.matriculaProfessor })
        </td>
    </tr>
}

</table>
